*{
    margin: 0 auto;
    padding: none;
}

.board{
    height: 90vh;
    width: 40vw;
    display:flex ;
    flex-wrap: wrap;
    background-color: white;
    overflow: hidden;
}

.box{
    background-color: black;
    margin:1px;
    width: 32.7%;
    height: 30vh;
    color: white;
    display: flex;
    overflow: hidden;
}

.box img{
    max-width: 40%;
    align-self: center;
    filter: invert(100%);
}